[modules]
footrecon.modules.mod_input.Camera = 0
footrecon.modules.mod_input.Microphone = 0
footrecon.modules.mod_radio.Bluetooth = 1
footrecon.modules.mod_radio.Wireless = 1
# footrecon.modules.mod_sat.Satnav = 1
footrecon.modules.mod_net.Healthcheck = 1
# footrecon.modules.mod_net.Ssh = 1

# [footrecon.modules.mod_net.Ssh]
# interval = 120
# host = 127.0.0.1
# port = 22
# local_port = 22
# remote_port = 0
# username = hello
# key = /root/.ssh/id_hello

[footrecon.modules.mod_net.Healthcheck]
interval = 240
endpoint = http://localhost/healthcheck?id=
